.board {
  margin: 0 auto;
  padding: 0;
  width: 40vw;
  height: 40vw;
  max-width: 40vh;
  max-height: 40vh;
  min-width: 308px;
  min-height: 308px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
}